@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-plus-jakarta-sans), ui-sans-serif, system-ui,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, Menlo,
    Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

:root {
  --radius: 0.625rem;
  --background: #f4f4f4;
  --foreground: #0b2677;
  --card: #ffffff;
  --card-foreground: #0b2677;
  --popover: #ffffff;
  --popover-foreground: #0b2677;
  --primary: #0b2677;
  --primary-foreground: #ffffff;
  --secondary: #2165b8;
  --secondary-foreground: #ffffff;
  --muted: #e5e5e5;
  --muted-foreground: #2165b8;
  --accent: #9a01cd;
  --accent-foreground: #ffffff;
  --destructive: oklch(0.577 0.245 27.325);
  --border: #e5e5e5;
  --input: #e5e5e5;
  --ring: #539ce0;
  --chart-1: #9a01cd;
  --chart-2: #2165b8;
  --chart-3: #539ce0;
  --chart-4: #0b2677;
  --chart-5: #e5e5e5;
  --sidebar: #0b2677;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: #9a01cd;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #2165b8;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #e5e5e5;
  --sidebar-ring: #539ce0;
}

.dark {
  --background: #0b2677;
  --foreground: #f4f4f4;
  --card: #2165b8;
  --card-foreground: #ffffff;
  --popover: #0b2677;
  --popover-foreground: #f4f4f4;
  --primary: #f4f4f4;
  --primary-foreground: #0b2677;
  --secondary: #539ce0;
  --secondary-foreground: #0b2677;
  --muted: #2165b8;
  --muted-foreground: #e5e5e5;
  --accent: #9a01cd;
  --accent-foreground: #ffffff;
  --destructive: oklch(0.704 0.191 22.216);
  --border: #2165b8;
  --input: #2165b8;
  --ring: #9a01cd;
  --chart-1: #539ce0;
  --chart-2: #9a01cd;
  --chart-3: #f4f4f4;
  --chart-4: #e5e5e5;
  --chart-5: #2165b8;
  --sidebar: #0b2677;
  --sidebar-foreground: #f4f4f4;
  --sidebar-primary: #539ce0;
  --sidebar-primary-foreground: #0b2677;
  --sidebar-accent: #2165b8;
  --sidebar-accent-foreground: #f4f4f4;
  --sidebar-border: #2165b8;
  --sidebar-ring: #9a01cd;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    font-size: 34pt;
    font-weight: 800;
  }
  h2 {
    font-size: 22pt;
    font-weight: 700;
  }
  h3 {
    font-size: 18pt;
    font-weight: 600;
  }
  p {
    font-size: 14pt;
    font-weight: 500;
  }
  .description {
    font-size: 14pt;
    font-weight: 400;
  }
}
